branches:
  except:
  - /^dependabot\/.*$/

language: rust
rust:
  - 1.26.0
  - stable
  - beta
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - rust: nightly

cache: cargo

script:
  - cargo build
  - cargo test
